body{font-family:Arial;margin:0;padding:20px}
header{display:flex;justify-content:space-between}
.card{border:1px solid #000;margin:15px;padding:10px}
img{width:100%}

.dark{
 background:#000;
 color:#fff;
}
.dark .card{
 border:1px solid #fff;
}
